In [24]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from cleaning_function import *
from oscars_function import *

In [25]:
df_IMDb = cleaning_function()
df_oscars = oscars_function()

/Users/florengutierrez/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [30]:
df_IMDb = cleaning_function()
df_IMDb["Year"] = df_IMDb["Year"].str.replace('TV Movie 2019', '2019')
df_IMDb.drop(df_IMDb[df_IMDb.Year.isnull()].index, inplace = True)
df_IMDb["Year"] = df_IMDb["Year"].astype(int)
df_IMDb = df_IMDb.sort_values("Avg_vote",ascending=False)
df_IMDb

/Users/florengutierrez/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Title,Year,Genre,Duration,Country,Director,Writer,Actors,Description,Avg_vote
83275,Suvarna Sundari,2019,"Action, Thriller",120,India,Msn Surya,NaN,"Shamna Kasim, Sakshi Chaudhary, Jaya Prada, Av...","The movie revolves around an idol, Suvarna Sun...",9.9
84995,Notuku Potu,2017,"Horror, Mystery",121,India,Basheed S.K.,NaN,"Mumait Khan, Manisha Koirala, Arjun Sarja",Notuku Potu is a crime story laced with elemen...,9.8
84434,Vaarthakal Ithuvare,2019,Comedy,121,India,Manoj Nair,Manoj Nair,"Siju Wilson, Nandu, Vinay Forrt, Mammukoya, Al...","Ittan Pillai, the police station head finds hi...",9.7
68313,The Best Years,2013,"Comedy, Crime, Drama",96,UK,Danny Patrick,Danny Patrick,"Connor Barr, Leon Bearman, Nigel Boyle, Ayden ...",Peace is declared in Northern Ireland after th...,9.4
85591,Ninnu Thalachi,2019,"Comedy, Romance",138,India,Anil Thota,NaN,"Mahesh Achanta, Anand, Naveen Neni, Stefy Pate...",Abhiram (Vamsi Yakasiri) is a happy-go-lucky g...,9.3
...,...,...,...,...,...,...,...,...,...,...
70539,"Bai bai, marÃ¢no",2013,Drama,114,Japan,Yunsu Kim,Yunsu Kim,"Yumiko Hara, Sujin Lee, GyÃ´ Miyamoto, ShÃ» Na...",NaN,1.0
76216,A no dentou,2014,Drama,53,Japan,Keiko Tsuruoka,Keiko Tsuruoka,"Suzuna Kinosuta, Mariko Kobayashi, Akaji Maro,...",Can the friendship and bond between two brothe...,1.0
82091,Cumali Ceber: Allah Seni Alsin,2017,Comedy,100,Turkey,GÃ¶khan GÃ¶k,"Cihan Berk Berkeban, Giray Demirel","Halil SÃ¶yletmez, Doga Konakoglu, Emre Keskin,...",Cumali Ceber goes to a vacation with his child...,1.0
78944,Utsuroi no hyÃ´honbako,2016,Comedy,95,Japan,Keiko Tsuruoka,Keiko Tsuruoka,"Mone Sakuragi, Gen Ogawa, Moeru Akazome, KÃ´su...",A women challenges herself to do more and over...,1.0
70371,One Night: Choice of Evil,2010,"Comedy, Drama, Romance",79,Taiwan,Tommy Yu,Tommy Yu,"Yukihiko Kageyama, Toyoharu Kitamura, Linda Li...",An unassuming valet looking for his lucky brea...,1.0

In [12]:
df_oscars = df_oscars.sort_values("Year")
df_oscars.Year = df_oscars.Year.str.replace('[/]', '')
df_oscars["Year"] = df_oscars["Year"].astype(int)
df_oscars = df_oscars[df_oscars["Year"] <= 2019]
df_oscars

<ipython-input-12-96ec79b46ab7>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_oscars.Year = df_oscars.Year.str.replace('[/]', '')

                           Film  Year Awards Nominations
1007      It Happened One Night  1934      5           5
867                   Cleopatra  1934      1           5
866                 City of Wax  1934      1           1
1257  The Tortoise and the Hare  1934      1           1
938            The Gay Divorcee  1934      1           5
...                         ...   ...    ...         ...
13                    Rocketman  2019      1           1
14             American Factory  2019      1           1
15                    Hair Love  2019      1           1
8                         Joker  2019      2          11
0                      Parasite  2019      4           6

[1267 rows x 4 columns]

In [13]:
merge = pd.merge(df_IMDb, df_oscars, on=["Film", "Year"])
merge

KeyError: 'Film'