In [7]:
import numpy as np
import pandas as pd
import requests
from functions import *
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
df_IMDb = check_csv()

/Users/florengutierrez/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [33]:
def cleaning(df_IMDb):
    
    df_IMDb.drop(df_IMDb[df_IMDb.Year.isnull()].index, inplace = True)

    df_IMDb.rename(columns = {"Title": "Film"}, inplace=True)

    IMDb = df_IMDb.sort_values("Avg_vote",ascending=False)
    
    return IMDb

In [46]:
cleaning(df_IMDb)

,Film,Year,Genre,Duration,Country,Director,Writer,Actors,Description,Avg_vote
83275,Suvarna Sundari,2019,"Action, Thriller",120,India,Msn Surya,NaN,"Shamna Kasim, Sakshi Chaudhary, Jaya Prada, Av...","The movie revolves around an idol, Suvarna Sun...",9.9
84995,Notuku Potu,2017,"Horror, Mystery",121,India,Basheed S.K.,NaN,"Mumait Khan, Manisha Koirala, Arjun Sarja",Notuku Potu is a crime story laced with elemen...,9.8
55310,Jeeudo,2020,"Drama, Romance",150,India,Aalmist Subba,"Aalmist Subba, Chanchal Thapa","Prashant Baraili, Davina, Pranisha Gahatraj, P...","""A TALE OF LOVE, MYTH, AND FATE"" ""JEEUDO"" (mea...",9.8
56032,Ek,2019,"Action, Drama",129,India,Sampath Rudra,Harik Krishna,"Bishnu Adhikari, Himanshi Khurana, Aparna Shar...",EK is a love story set in the context of ever ...,9.8
54217,Lejos de Casa pelicula Venezolana,2020,"Drama, History",87,Venezuela,Abner Official,"Dariana Jozh, Abner Official","Angibell, Gabriel Buitrago, Darwing, Dariana J...","Samuel, a young Venezuelan, emigrates from his...",9.8
...,...,...,...,...,...,...,...,...,...,...
78944,Utsuroi no hyÃ´honbako,2016,Comedy,95,Japan,Keiko Tsuruoka,Keiko Tsuruoka,"Mone Sakuragi, Gen Ogawa, Moeru Akazome, KÃ´su...",A women challenges herself to do more and over...,1.0
55972,Prema Panjaram,1991,"Drama, Family",138,India,Ramana Reddy B.V.,"Ramana Reddy B.V., Gopalakrishna Paruchuri","Mohan Babu, Brahmanandam, Harish, Madhubala, G...",NaN,1.0
75895,Ritoru Kyouta no bouken,2017,Adventure,82,Japan,Satsuki Okawa,Satsuki Okawa,"Tao Tsuchiya, Misa Shimizu, Hidekazu Mashima, ...",NaN,1.0
76389,Chun jie xin ling: Zhu meng yan yi quan,2015,"Comedy, Drama",96,China,Zhifei Bi,Zhifei Bi,NaN,Pure Hearts: Into Chinese Showbiz is the maide...,1.0
76216,A no dentou,2014,Drama,53,Japan,Keiko Tsuruoka,Keiko Tsuruoka,"Suzuna Kinosuta, Mariko Kobayashi, Akaji Maro,...",Can the friendship and bond between two brothe...,1.0

- Realizamos el top10 y exportamos, para luego lanzar una hipótesis en visualization-ipynb.

In [44]:
def IMDb_top10(IMDb):
    
    IMDb_top10 = IMDb.head(10)
    
    IMDb_top10.set_index("Film")
    
    return IMDb_top10

In [45]:
IMDb_top10(IMDb)

,Film,Year,Genre,Duration,Country,Director,Writer,Actors,Description,Avg_vote
83275,Suvarna Sundari,2019,"Action, Thriller",120,India,Msn Surya,NaN,"Shamna Kasim, Sakshi Chaudhary, Jaya Prada, Av...","The movie revolves around an idol, Suvarna Sun...",9.9
84995,Notuku Potu,2017,"Horror, Mystery",121,India,Basheed S.K.,NaN,"Mumait Khan, Manisha Koirala, Arjun Sarja",Notuku Potu is a crime story laced with elemen...,9.8
55310,Jeeudo,2020,"Drama, Romance",150,India,Aalmist Subba,"Aalmist Subba, Chanchal Thapa","Prashant Baraili, Davina, Pranisha Gahatraj, P...","""A TALE OF LOVE, MYTH, AND FATE"" ""JEEUDO"" (mea...",9.8
56032,Ek,2019,"Action, Drama",129,India,Sampath Rudra,Harik Krishna,"Bishnu Adhikari, Himanshi Khurana, Aparna Shar...",EK is a love story set in the context of ever ...,9.8
54217,Lejos de Casa pelicula Venezolana,2020,"Drama, History",87,Venezuela,Abner Official,"Dariana Jozh, Abner Official","Angibell, Gabriel Buitrago, Darwing, Dariana J...","Samuel, a young Venezuelan, emigrates from his...",9.8
84434,Vaarthakal Ithuvare,2019,Comedy,121,India,Manoj Nair,Manoj Nair,"Siju Wilson, Nandu, Vinay Forrt, Mammukoya, Al...","Ittan Pillai, the police station head finds hi...",9.7
56329,Meka Suri,2020,"Crime, Thriller",86,India,Trinadh Velisila,NaN,"Abhinay, Naresh Byreddy, Sharat Kumar, Sravan,...","The story revolves around Meka Suri, a butcher...",9.7
58809,Hopeful Notes,2010,Drama,94,USA,Valerio Zanoli,Valerio Zanoli,"Walter Nudo, Colin Ross, Ian Poland, Laural Me...",A young violinist with leukemia brings hope an...,9.7
54166,The Moving on Phase,2020,Comedy,85,USA,Don Tjernagel,Don Tjernagel,"Matt Anderson, Clint Boevers, Jillian Brown, C...",Piper is a young adult female that is forced i...,9.5
55170,Isha,2020,"Drama, Horror",118,India,Jose Thomas,Jose Thomas,"Kishore Satya, Abhishek Vinod",NaN,9.5

In [3]:
IMDb_top10.to_csv("top10_IMDb.csv")

In [259]:
df_oscars = oscars()
df_oscars = df_oscars.drop(["Year"], axis="columns")
df_oscars = df_oscars.sort_values("Awards",ascending=False)
df_oscars

                      Film Awards Nominations
466       The Last Emperor      9           9
942                   Gigi      9           9
333    The English Patient      9          12
951     Gone with the Wind  8 (2)          13
510                Amadeus      8          11
...                    ...    ...         ...
986    The House I Live In  0 (1)           0
1221           Sweethearts  0 (1)           2
735     Planet of the Apes  0 (1)           2
1074      Monsieur Vincent  0 (1)           0
931   A Force in Readiness  0 (1)           0

[1317 rows x 3 columns]

In [260]:
Oscar_top10 = df_oscars.head(10)
Oscar_top10 = Oscar_top10.set_index("Film")
Oscar_top10

                      Awards Nominations
Film
The Last Emperor           9           9
Gigi                       9           9
The English Patient        9          12
Gone with the Wind     8 (2)          13
Amadeus                    8          11
Slumdog Millionaire        8          10
Gandhi                     8          11
From Here to Eternity      8          13
Cabaret                    8          10
My Fair Lady               8          12

In [261]:
df_merge = pd.merge(df_IMDb, df_oscars, on='Film')
df_merge = df_merge.drop([2])
df_merge = df_merge.head(25)
df_merge.head()

,Film,Year,Genre,Duration,Country,Director,Writer,Actors,Description,Avg_vote,Awards,Nominations
0,Parasite,2019,"Comedy, Drama, Thriller",132,South Korea,Bong Joon Ho,"Bong Joon Ho, Bong Joon Ho","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...",Greed and class discrimination threaten the ne...,8.6,4,6
1,Whiplash,2014,"Drama, Music",106,USA,Damien Chazelle,Damien Chazelle,"Miles Teller, J.K. Simmons, Paul Reiser, Melis...",A promising young drummer enrolls at a cut-thr...,8.5,3,5
3,Joker,2016,"Comedy, Drama",130,India,"Raju Murugan, Raju Saravanan",Raju Murugan,"Guru Somasundaram, Ramya Pandiyan, Gayathri, R...","Mannar (protagonist), a villager who declares ...",8.4,2,11
4,Coco,2017,"Animation, Adventure, Family",105,USA,"Lee Unkrich, Adrian Molina","Lee Unkrich, Jason Katz","Anthony Gonzalez, Gael GarcÃ­a Bernal, Benjami...","Aspiring musician Miguel, confronted with his ...",8.4,2,2
5,1917,2019,"Drama, War",119,"USA, UK, India, Spain, Canada, China",Sam Mendes,"Sam Mendes, Krysty Wilson-Cairns","Dean-Charles Chapman, George MacKay, Daniel Ma...","April 6th, 1917. As a regiment assembles to wa...",8.3,3,10

In [262]:
df_merge.to_csv("merge.csv")